/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  h1{
      font-size: 25px !important;
    }
  h2{
    font-size: 18px !important;
  }
  /* Header Start */
  .logo_img{
    width: 60%;
  }
  .tog_custom:focus{
    box-shadow: 0 0 0 0.15rem;
  }
  .tog_icon{
    width: 1em;
    height: 1em;
  }
  .menu{
    padding-top: 15px;
  }
  .menu ul li a{
    font-size: 16px;
    padding: 0 0 !important;
    text-align: right;
  }
  /* Header End */

  /* Slider Start */
  .carousel-main {
    padding-bottom: 50px;
  }
  .custom_indicators {
    bottom: 2px;
  }
  .carousel_content {
    margin-top: 0px;
  }
  .carousel_content h2{
    margin: 10px 0;
  }
  .carousel_content p{
    margin-bottom: 20px;
  }
  .carousel_content ul li {
    padding: 0 10px !important;
  }
  .carousel_content ul li:not(:last-child) {
    margin-right: 0.5rem;
  }
  .carousel_content ul li i{
    font-size: 30px;
  }
  /* Slider End */

   /* Feature Start */
  .feature, .contact {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .m-t-60{
    margin-top: 30px;
  }
  .s-icon i{
    font-size: 35px !important;
  }
  .s-details{
    text-align: center;
  }
  /* Feature End */

  /* Contact Start */
  .c-email{
    padding: 0 15px !important;
    margin-bottom: 10px;
  }
  .c-submit{
    padding: 0 15px !important;
  }
  .contact-form{
    padding: 0.45rem 0.75rem;
  }
  .contact-form-btn{
    padding: 0.45rem 0.75rem;
  }
  .s-icons{
    padding-top: 60px;
    font-size: 30px;
  }
  /* Contact End */

  /* Footer Start */
  .footer{
    padding-bottom: 0;
  }
  .f-nav{
    text-align: center;
    margin-bottom: 50px !important;
  }
  /* Footer End */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  h1{
    font-size: 28px !important;
  }
  h2{
    font-size: 19px !important;
  }
  /* Header Start */
  .logo_img{
    width: 75%;
  }
  .tog_icon{
    width: 1.2em;
    height: 1.2em;
  }
  .menu{
    padding-top: 15px;
  }
  .menu ul li a{
    font-size: 18px;
    padding: 0 0 !important;
    text-align: right;
  }
  /* Header End */

  /* Slider Start */
  .carousel-main {
    padding-bottom: 60px;
  }
  .custom_indicators {
    bottom: 5px;
  }
  .carousel_content {
    margin-top: 20px;
  }
  /* Slider End */

  /* Feature Start */
  .feature .footer {
    padding-top: 40px;
    padding-bottom: 70px;
  }
  .m-t-60{
    margin-top: 45px;
  }
  .s-icon i{
    font-size: 43px !important;
  }
  .s-details{
    text-align: center;
  }
  /* Feature End */

  /* Contact Start */
  .contact {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .contact-form{
    padding: 0.55rem 0.75rem;
  }
  .contact-form-btn{
    padding: 0.55rem 0.75rem;
  }
  .s-icons{
    font-size: 38px;
  }
  /* Contact End */

  /* Footer Start */
  .footer{
    padding-bottom: 0;
  }
  .f-nav{
    text-align: center;
    margin-bottom: 50px;
  }
  /* Footer End */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Header Start */
  .logo_img{
    width: 90%;
  }
  .menu{
    padding-top: 15px;
  }
  .menu ul li a{
    font-size: 20px;
    padding: 0 0 !important;
    text-align: right;
  }
  /* Header End */

  /* Slider Start */
  .carousel_content {
    margin-top: 30px;
  }
  /* Slider End */

  /* Feature Start */
  .feature, .footer {
    padding-top: 60px;
    padding-bottom: 80px;
}
  /* Feature End */
  .contact {
    padding-top: 40px;
    padding-bottom: 35px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* Extra Extra large devices (Extra large desktops, 1400px and up) */
@media (min-width: 1400px) {

}