/* font-family: 'PT Sans', sans-serif; */
*{
  margin:0;
  padding: 0;
}
body{
  font-family: 'PT Sans', sans-serif;
  color: #010101;
}

/* Header start */
header{
  background-color: #fcdb00;
  padding: 25px 0;
}
.menu ul li a{
  font-weight: 700;
  font-size: 22px;
  color: #010101;
  padding: 0px 40px !important;
  transition: .3s;
}
.menu ul li:last-child a{
  padding-right: 0 !important;
}
.menu ul li a:hover{
  color: #ffffff !important;
}
/* Header End */

/* Slider Start */
.slider{
  background-color: #fcdb00;
}
.carousel-main{
  padding-bottom: 100px;
}
.custom_indicators{
  bottom: 20px;
}
.custom_indicators li{
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.carousel_content{
  margin-top: 60px;
}
.carousel_content h1, .c_title h1{
  font-weight: 700;
  font-size: 32px;
}
.carousel_content h2, .c_title h2{
  font-weight: 400;
  font-size: 20px;
  color: #313841;
  letter-spacing: .85px;
  word-spacing: 2.8px;
  margin: 20px 0;
}
.carousel_content p{
  font-weight: 400;
  color: #555555;
  letter-spacing: .75px;
  word-spacing: 1px;
  margin-bottom: 35px;
}
.carousel_content ul li{
  padding: 0 15px !important;
}
.carousel_content ul li:first-child{
  padding-left: 0 !important;
}
.carousel_content ul li i{
  font-size: 42px;
}
/* Slider End */

/* Fetaure Start */
.feature, .contact{
  padding-top: 80px;
  padding-bottom: 100px;
}
.m-t-60{
  margin-top: 60px;
}
.s-icon i{
  font-size: 50px !important;
}
.s-details h2{
  font-size: 22px;
  margin-bottom: 13px;
}
.s-details p{
  color: #313841;
  letter-spacing: .5px;
  word-spacing: 1px;
}
/* Feature End */

/* Contact Start */
.contact, .footer{
  background-color: #010101;
}
.contact h1{
  color: #fcdb00;
}
.contact h2{
  color: #898989;
}
.contact-form{
  padding: 0.75rem 0.75rem;
}
.contact-form:focus{
  border-color: #fcdb00;
  box-shadow: 0 0 0 0.25rem rgb(255 193 7 / 34%);
}
.contact-form-btn{
  width: 100%;
  font-weight: 700;
  padding: 0.75rem 0.75rem;
}
.s-icons{
  padding-top: 80px;
  font-size: 42px;
}
.s-icons i{
  color: #fcdb00;
}
.s-icons i:hover{
  color: #fcc100;
}
/* Contact End */

/* Footer Start */
.footer{
  padding-bottom: 100px;
  color: #ffffff;
}
.f-nav a{
  text-decoration: none;
  color: #ffffff;
  transition: .4s;
}
.f-nav a:hover{
  color: #fcdb00;
}
.f-f{
  line-height: 1 !important;
}
/* Footer End */